<main>
  <div class="box p-3">
    <p [style.visibility]="winner ? 'visible' : 'hidden'" class="btns">
      🎉🎉 "{{ winner }}" is Winner 🎉🎉
    </p>

    <table class="table tic-tac-toe">
      <tbody>
        <tr>
          <td class="cell" (click)="insertInput(0)"></td>
          <td class="cell" (click)="insertInput(1)"></td>
          <td class="cell" (click)="insertInput(2)"></td>
        </tr>
        <tr>
          <td class="cell" (click)="insertInput(3)"></td>
          <td class="cell" (click)="insertInput(4)"></td>
          <td class="cell" (click)="insertInput(5)"></td>
        </tr>
        <tr>
          <td class="cell" (click)="insertInput(6)"></td>
          <td class="cell" (click)="insertInput(7)"></td>
          <td class="cell" (click)="insertInput(8)"></td>
        </tr>
      </tbody>
      <!-- Canvas for confetti -->
    </table>
    <div class="btns">
      <button
        [disabled]="resetBtn"
        class="btn btn-primary"
        (click)="resetGame()"
      >
        Reset
      </button>
      <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
    </div>
  </div>
  <canvas id="confettiCanvas"></canvas>
</main>

<ng-template #modal>
  <mat-dialog-content class="mat-typography">
    <p>"{{ winner }}" is Winner</p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
  </mat-dialog-actions>
</ng-template>
